<html>
<head>
<title>Karyawan Page</title>
<link rel=
"stylesheet" type=
"text/css" th:href=
"@{/css/table.css}" />
<link rel=
"stylesheet" type=
"text/css" th:href=
"@{/css/home.css}" />
<link rel=
"stylesheet" type=
"text/css" th:href=
"@{/css/form.css}" />
</head>
<body>
<div class=
"first-box">
<h2>Semua Karyawan</h2>
<table class=
"styled-table">
<thead>
<tr><th>No</th><th>NIK</th><th>First Name</th><th>Last Name</th><th>Department</th></tr>
</thead>
<tbody th:each=
"d, no : ${depList}">
<tr>
<td th:text=
"${no.count}"></td>
<td ><a th:href=
"@{/department/{id}(id=${d.getId()})}" th:text=
"${d.getName()}"></a></td>
<td th:text=
"${d.getDescription()}"></td>
</tr>
</tbody>
</table>
</div>
<div class=
"second-box">
<div id=
"feedback-form">
<h2 class=
"header">Karyawan Management</h2>
<form th:action=
"@{/department/submit/{id}(id=${depRec?.getId()})}"
 method=
"post" th:object=
"${depInfo}" class=
"form-group">

<label for=
"id" class=
"form-label">ID</label>
<input
type=
"number"
id = 
"id"
name = 
"id"
th:value=
"${depRec != null} ? ${deprec.getId()}: '0'"
/>
<label for=
"name" class=
"form-label">NIK</label>
<input
type=
"text"
id=
"name"
name=
"name"
th:value=
"${depRec?.getName()}"
required
/>
<label for=
"name" class=
"form-label">Firstname</label>
<input
type=
"text"
id=
"name"
name=
"name"
th:value=
"${depRec?.getName()}"
required
/>
<label for=
"name" class=
"form-label">Lastname</label>
<input
type=
"text"
id=
"name"
name=
"name"
th:value=
"${depRec?.getName()}"
required
/>
<label for=
"desc" class=
"form-label">Description</label>
<textarea
type=
"text"
id=
"description"
name=
"description"
th:text=
"${depRec?.getDescription()}">
</textarea>

<label for=
"name" class=
"form-label">Password</label>
<input
type=
"text"
id=
"name"
name=
"name"
th:value=
"${depRec?.getName()}"
required
/>

<label for=
"name" class=
"form-label">Confirm Password</label>
<input
type=
"text"
id=
"name"
name=
"name"
th:value=
"${depRec?.getName()}"
required
/>

<button type=
"submit" class=
"btn btn-primary" name=
"add">Add</button>
<button type=
"submit" class=
"btn btn-primary" name=
"edit">Edit</button>
<button type=
"submit" class=
"btn btn-primary" name=
"delete">Delete</button>

</form>
</div>
</div>
</body>
</html>