<html>
<head>
    <title>Login Page</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/table.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/form.css}" />
</head>
<body>
    <div class="login-box">
        <h2>Login</h2>
        <form th:action="@{/login/submit}" method="post" th:object="${loginInfo}" class="form-group">
            <label for="role" class="form-label">Login Sebagai:</label>
            <div>
                <input type="radio" id="guru" name="role" value="guru" th:checked="${loginInfo.role == 'guru'}">
                <label for="guru">Guru (Teacher)</label>
            </div>
            <div>
                <input type="radio" id="siswa" name="role" value="siswa" th:checked="${loginInfo.role == 'siswa'}">
                <label for="siswa">Siswa (Student)</label>
            </div>
            
            <label for="username" class="form-label">Username</label>
            <input type="text" id="username" name="username" th:value="${loginInfo.username}" required/>
            
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" required/>
            
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</body>
</html>
