<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Guru</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        .button:hover {background-color: red !important;}
    </style>
</head>

<body>
    <form action="/LoginGuru" method="post">
        <div class="container">
            <div class="menu"></div>
            <h1 style="font-size: 35px; margin-bottom: 10px;">Selamat Datang di Sistem Rapot Sekolah Tadika Mesra</h1>
            <p style="margin-bottom: 30px;">Anda Login sebagai Guru</p>
            
    
            <div th:if="${error}" style="color: red;">
                <p th:text="${error}"></p>
            </div>

            <label style="display: inline-block; width: 120px; text-align: left;" for="username">User Name</label>
            <input style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;" type="text" id="username" name="username" placeholder="User Name" required><br><br>

            
            <label style="display: inline-block; width: 120px; text-align: left;" for="password">Password</label>
            <input style="padding-top: 5px; padding-bottom: 5px; padding-left: 10px; padding-right: 10px;" type="password" id="password" name="password" minlength="8" placeholder="Password" required><br><br>

            <button type="submit" style="padding: 15px 40px; color: white; text-decoration: none; background-color: maroon; display: inline-block; border-radius: 10px;">
                Submit
            </button>
        </div>
    </form>
</body>
</html>
