<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout Siswa</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .button:hover {background-color: red !important;}
    </style>
</head>
<body>

<div class="container">
    <div class="menu">
    <h1 style="font-size: 35px; margin-bottom: 10px;">Anda berhasil logout.</h1>
    <p style="margin-bottom: 30px;">Anda Logout sebagai Siswa</p>
    <a href="Home" class="button" style="margin: 20px 10px; margin-left: 0px; padding: 15px 40px; color: white; text-decoration: none; 
    transition: background-color 0.5s; border-radius: 10px; background-color: maroon; display: inline-block;">Home</a>
    </div>
</div>

</body>
</html>
