<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <style>
        body {
            font-family: sans-serif;
            background-color: #f4f4f9;
            margin: 0;
            padding: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        
        .button:hover {background-color: red !important;}
    </style>
</head>
<body>

<div class="container">
    <div class="menu"></div>
    <h1 style="font-size: 35px;">Selamat Datang di Sistem Rapot Sekolah Tadika Mesra</h1>
    <p style="font-size: 18px;">Pilih untuk login sebagai:</p>
    <a href="LoginGuru.html" class="button" style="margin: 20px 10px; margin-left: 0px; padding: 20px 40px; color: white; text-decoration: none; 
    transition: background-color 0.5s; border-radius: 10px; background-color: maroon; display: inline-block;">Login Guru</a>
    <a href="LoginSiswa.html" class="button" style="margin: 20px 10px; padding: 20px 40px; color: white; text-decoration: none; 
    transition: background-color 0.5s; border-radius: 10px; background-color: maroon; display: inline-block;">Login Siswa</a>
    </div>
</div>

</body>
</html>